
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz - Login</title>

    <link rel="stylesheet" href="./../css/login.css">
</head>

<body>

    <div class="container">

        <div class="left">
            <h1>ENTRE NO JOGO E <br><span>FAÇA HISTÓRIA!</span></h1>
        </div>

        <div class="right">
            <div class="form-box">

                <h2>SIGN IN</h2>

                <!-- EMAIL -->
                <input
                    type="email"
                    id="email"
                    placeholder="Yourname@gmail.com"
                    class="input">

                <!-- SENHA -->
                <input
                    type="password"
                    id="senha"
                    placeholder="Password"
                    class="input">

                <!-- RECUPERAR SENHA -->
                <a class="password" href="redefinir.html">
                    Esqueceu sua senha?
                </a>

                <br><br>

                <!-- BOTÃO LOGIN -->
                <button class="btn" onclick="logar()">
                    Entrar
                </button>

                <div class="divider">Ou continue com</div>

                <div class="social">
                    <button class="btn2" id="googleLogin">
                        Google
                    </button>
                </div>

                <div class="divider">
                    Não possui uma conta?
                </div>

                <button class="btn" id="botaoCadastro">
                    Cadastre-se!
                </button>

            </div>
        </div>

    </div>

    <script type="module" src="./../services/auth.js"></script>

    <script>

        // BOTÃO CADASTRO
        const botao =
            document.getElementById("botaoCadastro");

        botao.addEventListener("click", () => {

            window.location.href =
                "cadastro.html";

        });


        // FUNÇÃO LOGIN
        async function logar() {

            const email =
                document.getElementById('email').value;

            const senha =
                document.getElementById('senha').value;


            // CAMPOS VAZIOS
            if (!email || !senha) {

                alert("Preencha todos os campos!");

                return;
            }

            try {

                const resposta = await fetch('/login', {

                    method: 'POST',

                    headers: {
                        'Content-Type': 'application/json'
                    },

                    body: JSON.stringify({
                        email,
                        senha
                    })

                });

                const dados = await resposta.json();


                // LOGIN CORRETO
                if (dados.sucesso) {

                    alert("Login realizado com sucesso!");

                    window.location.href =
                        "/views/home.html";

                }

                // LOGIN ERRADO
                else {

                    alert("Email ou senha incorretos!");

                }

            }

            // ERRO SERVIDOR
            catch (erro) {

                console.log(erro);

                alert("Erro ao conectar com o servidor!");

            }

        }

    </script>

</body>

</html>

